html {
    background-color: white;
}

body {
    margin: auto;
    background-color: rgb(25, 184, 223);
    max-width: 768px;
}

.site-header {
    color: white;
    text-align: center;
    background-color: rgb(169, 184, 183);
    border: solid black 1px;
    /* display: inline-flex; */
    /* width: auto; */
    height: 100px;
    
}
.site-logo {
    text-align: center;
}

.nav-menu {
    display: inline-block;
    
}

.main-menu {
    color: rgb(238, 234, 32);
    /* float: left; */
    text-align: center;
    width: 100%;
}

.main-menu__links {
    padding: 25px;
    display: inline-block;
    height: 50px;
}

.main-menu__links a {
    color: white;
    text-decoration: none;
    font-size: 200%;
}

.main-menu__links--Home {
    width: 150px;
    background: linear-gradient(rgba(30, 9, 110, 0.3),rgba(30, 9, 110, 0.3)),
    no-repeat center/cover url(/Users/dancoda/Desktop/Momentum/w1-project-portfolio-DanRCoda/DanMary.jpg)
}

.main-menu__links--Portfolio {
    width: 150px;
    background: linear-gradient(rgba(30, 9, 110, 0.3),rgba(30, 9, 110, 0.3)),
    no-repeat center/cover url(/Users/dancoda/Desktop/Momentum/w1-project-portfolio-DanRCoda/Lola-me.jpg)
}



.main-menu__links--Resume {
    width: 150px;
    background: linear-gradient(rgba(30, 9, 110, 0.3),rgba(30, 9, 110, 0.3)),
    no-repeat center/cover url(/Users/dancoda/Desktop/Momentum/w1-project-portfolio-DanRCoda/Dan.jpg)
}
.greeting {
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;  
}

.flexitem {
    width: 100%x;
    padding: 30px;
}

img {
    max-width: 75%;
    max-height: 75%;

}
.dan {
    order: 1;
    flex-grow: 1;
}

.aboutme {
    order: 2;

}

.DanLola {
    order: 3;
    flex-grow: 3;
    max-width: 50%;
}

.aboutme2 {
    order: 4;

}


/* This is the end of index.html css */
/* This is the beginning of resume css */

.contact-info {
    float: right;
}

.resume {
    padding-left: 10px;
    padding-right: 10px;
}