html {
    background-color: white;
}

body {
    margin: auto;
    background-color: rgb(25, 184, 223);
    /* max-width: 768px; */
    height: 50%;
}

.site-header {
    color: white;
    text-align: center;
    background-color: rgb(169, 184, 183);
    border: solid black 1px;
    /* display: inline-flex; */
    /* width: auto; */
    height: 50px;
    background: linear-gradient(rgba(30, 9, 110, 0.3),rgba(30, 9, 110, 0.3)),
    no-repeat center/cover url(/Users/dancoda/Desktop/Momentum/w1-project-portfolio-DanRCoda/DanMary.jpg)
    
}
.site-logo {
    text-align: center;
}

.nav-menu {
    display: inline-block;
    
}

.main-menu {
    color: rgb(238, 234, 32);
    /* float: left; */
    text-align: center;
    width: 100%;
}

.main-menu__links {
    padding: 25px;
    display: inline-block;
    height: 50px;
}

.main-menu__links a {
    color: white;
    text-decoration: none;
    font-size: 100%;
}



/* .main-menu__links--Home {
    width: 100px;
    background: linear-gradient(rgba(30, 9, 110, 0.3),rgba(30, 9, 110, 0.3)),
    no-repeat center/cover url(/Users/dancoda/Desktop/Momentum/w1-project-portfolio-DanRCoda/DanMary.jpg)
}

.main-menu__links--Portfolio {
    width: 100px;
    background: linear-gradient(rgba(30, 9, 110, 0.3),rgba(30, 9, 110, 0.3)),
    no-repeat center/cover url(/Users/dancoda/Desktop/Momentum/w1-project-portfolio-DanRCoda/Lola-me.jpg)
}


.main-menu__links--Resume {
    width: 100px;
    background: linear-gradient(rgba(30, 9, 110, 0.3),rgba(30, 9, 110, 0.3)),
    no-repeat center/cover url(/Users/dancoda/Desktop/Momentum/w1-project-portfolio-DanRCoda/Dan.jpg)
} */
.greeting {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-content: flex-start; */
    box-sizing: border-box;
}

img {
width: 100%;
}

.flexitem {
    width: 100%x;
    padding: 30px;
}

.about-me__Dan {
    width: 38%;
    order: 1; 
}

.about-me__text {
    order: 2;
    width: 40%;
}

.about-me__text2 {
    order: 4;
    width: 40%;
}

.about-me__DanLola {
    width: 28%;
    order: 3;
}



/* This is the end of index.html css */
/* This is the beginning of resume css */

.contact-info {
    float: right;
}

/* .resume {
    padding-left: 10px;
    padding-right: 10px;
} */

.full-resume {
    margin: 10px;
}

@media screen and (max-width: 425px) {
    .container {
    background-color: rgb(25, 184, 223);
    flex-direction: column;
    }
    }
@media screen and (min-width: 768px) {
    .container {
        background-color: aliceblue;} 
        .about-me__Dan {
            order: 1;}
        .about-me__text {
            order: 2;}
        .about-me__text2 {
            order: 3;}
        .about-me__DanLola {
            order: 4;}

    }}


