html {
    background-color: white;
}

body {
    margin: auto;
    background-color: rgb(25, 184, 223);
    max-width: 768px;
}

.site-header {
    color: white;
    text-align: center;
    background-color: #00377B;
    height: 80px;
}

.main-menu__links {
    color: rgb(238, 234, 32);
}

.greeting {
    text-align: center;
}


.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;  
}

.flexitem {
    width: 600px;
    padding: 30px;
}

.dan {
    order: 1;
    flex-grow: 1;
    width: auto;
    height: 500px;
}

.aboutme {
    order: 2;

}

.DanLola {
    order: 3;
    flex-grow: 3;
    height: 500px;
    width: auto;
}

.aboutme2 {
    order: 4;

}


/* This is the end of index.html css */

.contact-info {
    float: right;
}